.h5p-editor-animator-board {
  grid-area: 1 / 1 / 1 / 1;
  position: relative;

  .h5p-editor-animator-toolbar-main {
    .h5p-editor-animator-toolbar-action {
      flex-grow: 1;
      justify-content: flex-end;

      .toolbar-button {

        &.toolbar-button-active {
          color: var(--color-text-light);
        }

        &::before {
          font-family: "H5PFontAwesome4", sans-serif;
          font-size: 1.15rem;
          font-weight: bold;
          height: 1.15rem;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 1.15rem;
        }

        &.toolbar-button-list-view::before {
          content: var(--icon-fontawesome-list);
          font-weight: normal;
        }

        &.toolbar-button-zoom-in::before {
          content: var(--icon-fontawesome-magnifying-glass-plus);
          font-weight: normal;
        }

        &.toolbar-button-zoom-out::before {
          content: var(--icon-fontawesome-magnifying-glass-minus);
          font-weight: normal;
        }

        &.toolbar-button-preview::before {
          content: var(--icon-fontawesome-tv);
        }
      }
    }

    .h5peditor-dragnbar {
      .h5p-dragnbar-ul {
        list-style: none;
        margin: 0;
        padding: 0;

        .h5p-dragnbar-li {
          background: transparent;
          border: none;
          float: left;
          margin: 0;
          padding: 0;
          position: relative;

          .h5p-dragnbar-a {
            background-color: var(--color-primary-5);
            border: 2px solid var(--color-background);
            border-radius: 3px;
            box-sizing: border-box;
            color: var(--color-primary);
            display: block;
            padding: 0;
            position: relative;
            outline: revert;
            text-align: center;
            width: var(--toolbar-button-size);
            height: var(--toolbar-button-size);

            &:hover {
              background-color: var(--color-primary-10);
            }

            &:active {
              background-color: var(--color-primary-10);
            }

            &:focus {
              z-index: 1;
            }

            &::before {
              font-family: "H5PFontAwesome4", sans-serif;
              font-size: 1.15rem;
              font-weight: bold;
              height: 1.15rem;
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 1.15rem;
            }

            &.h5p-dragnbar-image-button::before {
              content: var(--icon-fontawesome-image);
            }

            &.h5p-dragnbar-shapes-button::before {
              content: var(--icon-fontawesome-square-outline);
            }

            &.h5p-dragnbar-text-button::before {
              content: var(--icon-fontawesome-font);
            }

            &.h5p-dragnbar-video-button::before {
              content: var(--icon-fontawesome-film);
            }
          }
        }
      }
    }
  }

  .h5p-editor-animator-board-main-area {
    display: grid;
    grid-template-columns: 1fr min(28ch, 30%);
    column-gap: 0.5rem;
  }

  .h5p-editor-animator-board-main-area:has(.h5p-editor-animator-sidebar.display-none) {
    grid-template-columns: 1fr;
  }

  .h5p-dragnbar-context-menu {
    width: max-content; // Required for zooming to work properly
  }
}
