.h5p-editor-animator-sidebar-list-elements {
  display: grid;
  grid-template-columns: 1fr;
  max-height: calc(100% - var(--chooserHeight));
  overflow: auto;
  row-gap: 0.25rem;
  padding: 0.25rem;

  &.display-none {
    display: none;
  }

  .element {
    border: 2px solid var(--color-shadow-dark);
    border-radius: 3px;
    box-sizing: border-box;
    column-gap: 0.5rem;
    cursor: move;
    display: grid;
    grid-template-columns: 1fr 2rem;
    padding: 0.25rem 0.5rem;
    user-select: none;

    .element-info {
      display: grid;
      grid-template-rows: 1fr 1fr;

      .element-type {
        color: var(--color-text);
        font-size: 0.8rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .element-name {
        color: var(--color-text);
        font-size: 0.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
