.h5p-editor-animator-element-area-wrapper-inner {
  box-sizing: border-box;
  font-size: var(--baseFontSize);
  max-height: var(--boardMaxHeight);
  position: relative;

  .h5p-editor-animator-element-area {
    aspect-ratio: var(--aspectRatio);
    background-color: var(--backgroundColor, #ffffff);
    background-image: var(--backgroundImageURL);
    background-size: cover;
    box-sizing: border-box;
    display: block;
    position: relative;
    width: var(--zoom);
  }

  &.overflow-scroll {
    overflow: scroll;
  }

  &.display-none {
    display: none;
  }
}
