.preview-overlay {
  background-color: var(--color-background);
  height: 100%;
  width: 100%;

  &.display-none {
    display: none;
  }

  &.display-invisible {
    left: -2000px;
    position: absolute;
    width: 960px;
    top: -500000px;
  }

  .preview-content {
    margin: 1em;

    .preview-label {
      color: var(--color-text);
      font-weight: 600;
    }

    .preview-explanation {
      color: var(--color-text);
      font-size: .75em;
      margin-bottom: 1em;
    }

    .preview-wrapper {
      border: 1px solid #d0d0d1; // TODO
    }
  }
}
